.container-1 {
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	row-gap: 5%;
	width: 600px;
	height: 430px;
	margin-left: auto;
	margin-right: auto;
}

.container-2 {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr;
	width: 600px;
	height: 430px;
}

.heroForm {
	justify-self: center;
	grid-row-start: 1;
	grid-column-start: 1;

	grid-row-end: 2;
	grid-column-end: 3;
}
.heroForm button {
	margin-left: 5px;
}

.front-card {
	grid-row-start: 2;
	grid-column-start: 1;

	grid-row-end: 3;
	grid-column-end: 2;
}

.back-card {
	grid-row-start: 2;
	grid-column-start: 2;

	grid-row-end: 3;
	grid-column-end: 3;
}
